@media only screen and (max-width: 500px){
    p{
        font-family: sans-serif;
        color: #0056C4;
        font-size:1rem;
    }
    div{
        position: fixed;
        bottom: 0;
        margin-left: 10px;
    }
}

p{
    font-family: sans-serif;
    color: #0056C4;
    font-size:1rem;
}
div{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}